%h1 Welcome#index
%div{ 'ng-controller':  'indexCtrl' }
  {{ some_text.quote }} - {{ some_text.quoteMaster }}
  %br
  %button{ 'ng-click': 'changeQuote()' } New Quote, please.
  %ul
    %li{ 'ng-repeat': 'quote in quotes' }
      {{ quote.quote }} - {{ quote.quoteMaster }}
  %form{'ng-submit': "submitForm()"}
    %input{type: "text", placeholder: 'Quote', 'ng-model': 'formQuote'}
    %input{type: "text", placeholder: 'Quote Master', 'ng-model': 'formQuoteMaster'}
    %input{type: "submit"}

